{% extends "layout.html" %}

{% block body %}

<h2>Admin Approvals</h2>
<form method="post">
    <ul>
        {% for user in pending_users %}
            <li>
                {{ user[1] }}
                <input type="checkbox" name="approve_user" value="{{ user[1] }}"> Approve
            </li>
        {% endfor %}
    </ul>
    <button type="submit">Submit</button>
</form>

<h2>Admins</h2>
<form method="post">
    <ul>
        {% for user in admins %}
            <li>
                {{ user[1] }}
            </li>
        {% endfor %}
    </ul>
</form>

{% endblock %}