{% extends "layout.html" %}
<head>
    {% block head %}
    <title>Edit Television</title>
    {% endblock %}
</head>
<body>
    {% block body %}
    <h2>Edit Television</h2>
    <div id="error-message" style="color: red;"></div>
    <form method="post" action="/televisions/edit/submit" onsubmit="return confirmAction()">
        <input type="hidden" name="tv_id" value="{{ tv_id }}">
        <label for="brand">Brand:</label>
        <input type="text" name="brand" value="{{ brand }}" required oninput="validateInput(this, 'save-button')"><br>
        <label for="audio">Audio:</label>
        <input type="text" name="audio" value="{{ audio }}" required oninput="validateInput(this, 'save-button')"><br>
        <label for="resolution">Resolution:</label>
        <input type="text" name="resolution" value="{{ resolution }}" required oninput="validateInput(this, 'save-button')"><br>
        <label for="refresh_rate">Refresh Rate:</label>
        <input type="text" name="refresh_rate" value="{{ refresh_rate }}" required oninput="validateInput(this, 'save-button')"><br>
        <label for="screen_size">Screen Size:</label>
        <input type="text" name="screen_size" value="{{ screen_size }}" required oninput="validateInput(this, 'save-button')"><br>
        <button type="submit" id="save-button">Save Changes</button>
    </form>
    {% endblock %}
</body>
