<style>
    button {
        width: 300px;
        padding: 50px;
    }
</style>

{% extends "layout.html" %}

{% block body %}

<h1> Welcome, {{username}}</h1>
<form action="/televisions" method="get">
    <button type="submit">View Televisions under our testing</button>
</form>
<form action="/tests" method="get">
    <button type="submit">View Tests</button>
</form>
<form action="/admin/dashboard" method="post">
    <button type="submit">Admin Approval Dashboard</button>
</form>
{% endblock %}