{% extends "layout.html" %}
<head>
    {% block head %}
    <title>Registration</title>
    {% endblock %}
</head>
<body>
    {% block body %}
    <h3>Please register a new username and password below: </h3>
    <form action="/register" method="post">
        <label for="Username"> Username </label>
        <input type="text" id= "Password" name="username" required oninput="validateUsername(this, 'submit-button');">

        <label for="Password"> Password </label>
        <input type="password" id="Password" name="password" required oninput="validatePassword(this, 'submit-button')">


        <button type="submit" id="submit-button"> Register </button>
    </form>
        <div id="error-message" style="color: red;"></div>
        <div id="password-error-message" style="color: gray;"></div>
        Already have an account? Login <a href="/login"> here </a>
    {% endblock %}
</body>
